@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient-text {
  background: -webkit-linear-gradient(
    45deg,
    rgba(32, 152, 239, 1) 0%,
    rgba(78, 45, 209, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font-rubik {
    font-family: 'Rubik';
}
p {
    font-family: 'Rubik';
}
@layer components {
    .link {
        @apply text-blue-500 hover:text-white transition ease-in-out duration-200 ;
    }
}

